{% extends "base.html" %}


{% block page_content %}
{{ super() }}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">API Security</div>
        <div class="panel-body">
            <dl>
                <dt><a href="{{ url_for('oauth.clients') }}">OAuth2 Clients</a></dt>
                <dd>Manage authorized clients.</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock page_content %}