{% extends "base.html" %}

{% block page_content %}
{{ super() }}
<form id="add-flag-form" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        {{ form.name.label(class_='control-label') }}
        {{ form.name(class_='form-control', maxlength=32) }}
        {% for message in form.name.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if form.description.errors %} has-error{% endif %}">
        {{ form.description.label(class_='control-label') }}
        {{ form.description(class_='form-control', maxlength=64) }}
        {% for message in form.description.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if form.value.errors %} has-error{% endif %}">
        {{ form.value }}
        {{ form.value.label(class_='control-label') }}
        {% for message in form.value.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>

    <a role="button" class="btn btn-default"
        href="{{ url_for('config.flags')}}">
        Cancel
    </a>
    {{ form.submit(class_='btn btn-default') }}
</form>
{% endblock page_content %}

{% block styles%}
{{ super() }}
{% endblock styles %}

{% block scripts%}
{{ super() }}
{% endblock scripts %}