{% extends "base.html" %}

{% block page_content %}
{{ super() }}
<div class="col-md-4">
	<form id="edit-user-form" method="post" class="form" role="form">
	    {{ form.hidden_tag() }}
	    <div class="form-group{% if form.username.errors %} has-error{% endif %}">
	        {{ form.username.label(class_='control-label') }}
	        {{ form.username(class_='form-control', disabled=True) }}
	        {% for message in form.username.errors %}
	        <p class="help-block">{{ message }}</p>
	        {% endfor %}
	    </div>

	    <div class="form-group{% if form.email.errors %} has-error{% endif %}">
	        {{ form.email.label(class_='control-label') }}
	        {{ form.email(class_='form-control', disabled=True) }}
	        {% for message in form.email.errors %}
	        <p class="help-block">{{ message }}</p>
	        {% endfor %}
	    </div>

	    <div class="checkbox
                    {% if form.blocked.errors %} has-error{% endif %}
                    {% if form.blocked.flags.required %} required{% endif %}">
            {{ form.blocked }}
            {{ form.blocked.label(class_='control-label') }}
            {% for message in form.blocked.errors %}
            <p class="help-block">{{ message }}</p>
            {% endfor %}
        </div>

	    <a role="button" class="btn btn-default"
	        href="{{ url_for('config.users')}}">
	        Cancel
	    </a>
	    {{ form.submit(class_='btn btn-default') }}
	</form>
</div>
{% endblock %}
