{% extends "base.html" %}

{% block page_actions %}
{{ super() }}
<a role="button" class="btn btn-default"
    href="{{ url_for('config.add_flag')}}">
    Create Flag
</a>
{% endblock %}

{% block page_content %}
{{ super() }}
<form id="system-flags-form" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.name not in ['csrf_token', 'submit'] %}
            <div class="form-group{% if form[field.name].errors %} has-error{% endif %}">
                {{ form[field.name] }}
                {{ form[field.name].label(class_='control-label') }}
                (<a href="{{ url_for('config.edit_flag', fid=flag_ids[field.name]) }}")>edit</a>)<br />
                {{ form[field.name].description }}
                {% for message in form[field.name].errors %}
                <p class="help-block">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    <a role="button" class="btn btn-default"
        href="{{ url_for('config.index')}}">
        Cancel
    </a>
    {{ form.submit(class_='btn btn-default') }}
</form>
{% endblock page_content %}

{% block styles%}
{{ super() }}
{% endblock styles %}

{% block scripts%}
{{ super() }}
{% endblock scripts %}