{% extends "base.html" %}

{% block page_content %}
{{ super() }}
<p>Enter the email address of the person you wish to invite.</p>
<form id="invite-user-form" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        {{ form.name.label(class_='control-label') }}
        {{ form.name(class_='form-control', maxlength=32) }}
        {% for message in form.name.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if form.email.errors %} has-error{% endif %}">
        {{ form.email.label(class_='control-label') }}
        {{ form.email(class_='form-control', maxlength=32) }}
        {% for message in form.email.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>

    <a role="button" class="btn btn-default"
        href="{{ url_for('config.users')}}">
        Cancel
    </a>
    {{ form.submit(class_='btn btn-default') }}
</form>
{% endblock page_content %}

{% block styles%}
{{ super() }}
{% endblock styles %}

{% block scripts%}
{{ super() }}
{% endblock scripts %}